<!-- templates/home.html -->
{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
    {% block content %}
    <div class="user-info">
        <h1>Добро пожаловать в Матрицу, искатель!</h1>
    </div>
    <h3>Ты на пороге удивительного мира. Сможешь пройти все испытания?</h3>
    <br>
    <!-- Кнопка-заглушка -->

    <form method="post" action="/">
    <button type="submit" class="matrix-btn">Войти в Матрицу</button>
    </form>


    {% if admin %}
    <br>
    <a href="/admin" class="matrix-btn logout-btn">Админка</a>
    {% endif %}
    <!-- Опционально: кнопка выхода -->
    {% endblock %}
</body>
</html>