<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<style>
.logout-btn {

    background: transparent;
    color: #f00; /* Красный — как "опасность" в Матрице */
    border: 1px solid #f00;
    padding: 8px 20px;
    font-family: 'MyCustomFont2', 'Verdana', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logout-btn2 {

    background: transparent;
    color: #ff0; /* Красный — как "опасность" в Матрице */
    border: 1px solid #0f0;
    padding: 8px 20px;
    font-family: 'MyCustomFont2', 'Verdana', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.matrix-footer {
    background: rgba(0, 10, 0, 0.6);
    
    border-top: 1px solid #0f0;
    padding: 12px 20px;
    text-align: right;
}
</style>
<div class="matrix-form">
    <h2>ВОЙДИТЕ В СИСТЕМУ</h2>
    <br>
    <form method="post">
        <div>
            <label for="username">ИМЯ ПОЛЬЗОВАТЕЛЯ:</label>
            <input type="text" id="username" name="username" class="matrix-input" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="text" id="password" name="password" class="matrix-input" required>
        </div>
        <button type="submit" class="matrix-btn">ВОЙТИ</button>
    </form>
    <br><br>
    <a href="/register" class="matrix-btn logout-btn2" >РЕГИСТРАЦИЯ</a>
    <br><br>
</div>

{% if error %}
    <div class="error-message">Неверный логин\пароль</div>
{% endif %}
{% endblock %}

{% block footbutton %}
    
    <a href="/list" class="matrix-btn logout-btn">Список участников</a>
{% endblock %}