{% extends "base.html" %}

{% block title %}Задание 1{% endblock %}

{% block content %}
<h1>Сломанный код</h1>
<p class="instruction">Система зафиксировала аномалию:
в одном из скрытых протоколов выполнено сложение:</p>

<p class="instruction">144 + 24 = 201</p>

<p class="instruction">Но это верно только в неизвестной системе счисления.</p>
<h2>Твоя задача — найти основание системы.<h2>
<br><br>


<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">ВОЙТИ</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}