{% extends "base.html" %}

{% block title %}Задание 1{% endblock %}

{% block content %}
<h1>Нахождение пути в графе</h1>
<p class="instruction">Текст.</p>



<img src="/static/images/graph.png" alt="Изображение задания" 
     width="800" 
     height="200"
     class="matrix-image">
<!-- Сообщение об ошибке -->
<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">ВОЙТИ</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}