{% extends "base.html" %}

{% block title %}Задание 1{% endblock %}

{% block content %}
<h1>По следам</h1>
<p class="instruction">Нам удалось найти клавиатуру одного из архитекторов Матрицы.
На ней — свежие отпечатки пальцев. Только эти клавиши использовались при вводе главного пароля.</p>
<h3>Из разведданных известно:</h3>
<br>
<h3>
<ol class="rules">
    <li>Пароль начинается с <strong>имени создателя</strong> латинскими строчными буквами</li>
    <li>После имени идёт <strong>один спецсимвол</strong></li>
    <li>В конце — <strong>цифры по возрастанию</strong></li>
</ol>
</h3>
<img src="/static/images/key_bord.png" alt="Изображение задания" 
     width="800" 
     height="200"
     class="matrix-image">

<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">Отправить</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}