{% extends "base.html" %}

{% block title %}Задание {{ task_id }}{% endblock %}

{% block content %}
<h1>Скрытый уровень доступа</h1>
<p class="instruction">Система заблокирована.
Обычные методы не сработают — код не на поверхности.
Но если ты умеешь видеть то, что другие не замечают, у тебя есть шанс.
Посмотри глубже. Туда, где живёт сама Матрица.
Когда найдёшь код — введи его ниже.</p>
<br><br>
Можно 12 раз нажать f, но f12 - единожды...
<br><br><br>

<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">ВОЙТИ</button>
</form>
<!-- Код активации: collision -->
{% endblock %}

{% block script %}

{% endblock %}