{% extends "base.html" %}

{% block title %}Задание 10{{ task_id }}{% endblock %}

{% block content %}
<h1>Держи порт на коротком проводе</h1>
<p class="instruction">Для прямой загрузки скриптов в Матрицу используются терминалы модели IBM-5000100.
Каждый терминал имеет:<br>
– 3 USB-порта,<br>
– 2 HDMI-порта,<br>
– 1 разъём питания.<br>
Для активации все порты должны быть подключены кабелями длиной 3 метра каждый.
Сколько всего метров кабеля потребуется для двух таких терминалов?
</p>

<!-- Картинка 
<img src="/static/images/phone.png" alt="Описание" 
     class="matrix-image"
     style="width: 250px; height: auto;" 
     class="matrix-image">
-->
<!-- Сообщение об ошибке (если есть) -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма с полем ввода -->
<form method="post">
    <div class="input-group">
        <label for="answer">Ответ:</label>
        <input 
            type="text" 
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code  or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">Отправить</button>
</form>
{% endblock %}

{% block script %}
<!-- Дополнительный JS можно добавить здесь при необходимости -->
{% endblock %}