{% extends "base.html" %}

{% block title %}Задание {{ task_id }}{% endblock %}

{% block content %}
<h1>Проложи свой путь</h1>
<p class="instruction">«Агенты перехватили наш маршрут. Прогресс утерян. Но в Матрице нет тупиков — есть только те, кто боится выбрать новый путь.»</p>
Смотри внимательно: <br>
Текущий адрес — это точка {{ task_id }}. А тебе нужна точка {{ task_id +1}}.
<br>

<br>
⚠️ Осторожно!
Если введёшь неверный адрес — попадёшь в пустоту. <br>
Не бойся: ты всегда можешь вернуться назад и попробовать снова.<br>
Путь ждёт. Сделай шаг.
<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}
<br>
pass_code=12345

{% endblock %}

{% block script %}

{% endblock %}