{% extends "base.html" %}

{% block title %}Задание 2{% endblock %}

{% block content %}
<h1>Погружение</h1>
<p class="instruction">Ты входишь в глубины Матрицы.</p>
Система нестабильна — вокруг искажённые сектора.Тебе нужно выбрать безопасный сектор.
Вокруг него только одинаковые симмволыЪЪЪЪц

{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<div class="symbols-container">
    {% for symbol in symbols %}
        <form method="post" style="display: inline-block; margin: 10px;">
            <button type="submit" name="selected_id" value="{{ symbol.id }}" class="matrix-symbol-btn">
                <img src="{{ symbol.image }}" alt="Символ">
            </button>
        </form>
    {% endfor %}
</div>
{% endblock %}