{% extends "base.html" %}

{% block title %}Задание {{ task_id }}{% endblock %}

{% block content %}
<h1>Полный круг.</h1>
<p class="instruction">Ты прошёл сквозь иллюзии, взломал коды, выбрал путь.
Но Матрица помнит всё — даже твой первый шаг.</p>
<h3>Система требует финального подтверждения.
Чтобы завершить цикл, введи тот самый код, с которого всё началось.</h3>
<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}
<br>
<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">Завершить</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}