{% extends "base.html" %}

{% block title %}Задание 1{% endblock %}

{% block content %}
<h1>Текст.</h1>
<p class="instruction">Текст.</p>

<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">Текст</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}