{% extends "base.html" %}

{% block title %}Задание 10{% endblock %}

{% block content %}
<h1>Шумная передача</h1>
<p class="instruction">Во время передачи важного сообщения произошли сильные помехи.
Но у нас есть протокол очистки. Примени его — и получи истинный код<br><br>
Сообщение: <span class="error-message">ceedtdecyybabaaberrar </span><br><br>
Протокол восстановления (выполни по порядку, повторяя, пока возможно):<br>
1)  Удали всё, кроме латинских букв<br>
2)  Любые два одинаковых символа подряд заменяются на один: XX → X<br>
3)  Символ, окружённый двумя одинаковыми символами, удалается: XYX → XX</p>

<!-- Сообщение об ошибке -->
{% if error %}
    <div class="error-message">{{ error }}</div>
{% endif %}

<!-- Форма ввода кода -->
<form method="post">
    <div class="input-group">
        <label for="code">Ответ:</label>
        <input 
            type="text"     
            id="code" 
            name="code" 
            class="matrix-input" 
            required 
            value="{{ code or '' }}"
        >
    </div>
    <button type="submit" class="matrix-btn">ОТПРАВИТЬ</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}